{% extends "base.html" %}
{% block title %}Recommendation Letter{% endblock %}
{% block content %}
    <h2 class="pb-2">Submit Recommendation Letter</h2>
    <form action="{{url_for('.rec_letter', university_id = student.id)}}" method="POST" class="needs-validation" novalidate>
        <div class="mb-3">
            <label>Applicant</label>
            <input type="text" class="form-control" value="{{student.first_name}} {{student.last_name}}" disabled>
        </div>
        <div class="mb-3">
            <label>Your Email</label>
            <input type="email" class="form-control" name="email" required>
            <div class="invalid-feedback">
                Please provide your email.
            </div>
        </div>
        <div class="mb-3">
            <label>Your Letter</label>
            <textarea class="form-control" name="letter" required></textarea>
            <div class="invalid-feedback">
                Please provide your recommendation letter.
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock content %}
