{% extends "base.html" %}
{% block title %}Create Account{% endblock %}
{% block content %}
    <h2 class="pb-2">Create your account</h2>
    <form action="{{url_for('create_acc')}}" method="POST" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" required maxlength="50"{% if request.form.firstName %} value="{{request.form.firstName}}"{% endif %}>
            <div class="invalid-feedback">
                Please provide your first name.
            </div>
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" required maxlength="50"{% if request.form.lastName %} value="{{request.form.lastName}}"{% endif %}>
            <div class="invalid-feedback">
                 Please provide your last name.
            </div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" maxlength="50" required{% if request.form.email %} value="{{request.form.email}}"{% endif %}>
            <div class="invalid-feedback">
                Please provide your email.
            </div>
        </div>
        <div class="mb-3">
            <label for="bday" class="form-label">Birthday</label>
            <input type="date" class="form-control" id="bday" name="bday" required{% if request.form.bday %} value="{{request.form.bday}}"{% endif %}>
            <div class="invalid-feedback">
                Please provide your birthday.
            </div>
        </div>
        <h3 class="pb-2">Address Information</h3>
        <div class="mb-3">
            <label for="street" class="form-label">Street Address</label>
            <input type="text" class="form-control" id="streetAdd" name="streetAdd" minlength="5" maxlength="50" required{% if request.form.streetAdd %} value="{{request.form.streetAdd}}"{% endif %}>
            <div class="invalid-feedback">
                Please provide a street address.
            </div>
        </div>
        <div class="mb-3">
            <label for="city" class="form-label">City</label>
            <input type="text" class="form-control" id="city" name="city" minlength="5" maxlength="50" required{% if request.form.city %} value="{{request.form.city}}"{% endif %}>
            <div class="invalid-feedback">
                Please provide a city.
            </div>
        </div>
        <div class="mb-3">
            <label for="state" class="form-label">State</label>
            <input type="text" class="form-control" id="state" name="state" minlength="2" maxlength="2" pattern="[A-Z]*" required{% if request.form.state %} value="{{request.form.state}}"{% endif %}>
            <div class="invalid-feedback">
                Please provide a state (2-letter abbreviation).
            </div>
        </div>

        <div class="mb-3">
            <label for="zip" class="form-label">Zip Code</label>
            <input type="text" class="form-control" id="zip" name="zip" maxlength="5" pattern="[0-9]*" required{% if request.form.zip %} value="{{request.form.zip}}"{% endif %}>
            <div class="invalid-feedback">
                Please provide a 5-digit zip code.
            </div>
        </div>
        <h3 class="pb-2">Please create a username and password</h3>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="userName" name="userName" maxlength="50" required{% if request.form.userName %} value="{{request.form.userName}}"{% endif %}>
            <div class="invalid-feedback">
                Please create your username.
            </div>
        </div>
        <div class="mb-3">
            <label for="pass" class="form-label">Pass</label>
            <input type="password" class="form-control" id="pass" name="pass" maxlength="50" required{% if request.form.pass %} value="{{request.form.pass}}"{% endif %}>
            <div class="invalid-feedback">
                Please create a password.
            </div>
        </div>
        <h3 class="pb-2">Please enter your social security number</h3>
        <div class="mb-3">
            <label for="ssn" class="form-label">SSN</label>
            <input type="text" class="form-control" id="ssn" name="ssn" maxlength="9" pattern="[0-9]*" required{% if request.form.ssn %} value="{{request.form.ssn}}"{% endif %}>
            <div class="invalid-feedback">
                Please enter your Social Security Number.
            </div>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Create Account</button>
        </div>
    </form>
{% endblock content %}
